# Browser-visible URL. Change this when SpacetimeDB is exposed on another host.
SPACETIMEDB_PUBLIC_URL=http://127.0.0.1:3000
SPACETIMEDB_DATABASE=exposure-radar
EXPOSURE_RADAR_VERSION=latest

SPACETIMEDB_PORT=3000
EXPOSURE_RADAR_PORT=8000
EXPOSURE_RADAR_DEBUG=false
